     /* Style for scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Style  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

.img-cover {
    background: url(../images/cover2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-img-cover {
    background-image: linear-gradient(to top, #00111981, #00111900);
    width: 100%;
    height: 100%;
}

.bg-dark-cover {
    background-color: #0011190e !important;
}

.nav-link {
    color: #ffffffb2 !important;
}

.nav-link-active {
    color: #ffffff !important;
}

.my-button {
    color: #ffffff !important;
    border: 2px solid #ffffff;
    border-radius: 0px;
    background-color: #00111900;
}

.my-button:hover {
    color: #ffffff !important;
    background-color: #00111998 !important;
}

.card {
    padding: 2rem;
    margin: 1rem;
    max-width: 250px;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px #ffffff;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffffff;
}

.card-img-top {
    width: 50%;
    margin: auto;
}
