<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Smart City - Building Map</title>
    <link rel="stylesheet" href="../css/map3d.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://js.arcgis.com/4.19/esri/themes/light/main.css"
          type="text/css"/>
    <link rel="icon" href="images/logo-dn.png"/>
    <script src="https://js.arcgis.com/4.19/"></script>
    <script src="../js/building.js"></script>
</head>
<body>
<div id="viewDiv">
    <div id="menu" class="esri-widget">
        <input type="checkbox" id="color"/>
        <label for="color">
            Display all doors with a red color
        </label>
        <div id="slice-container"></div>
        <div id="slice-option">
            <button class="esri-button esri-button--secondary"
                    id="reset-plane-btn" type="button"
                    title="Reset slice plane">
                Reset slice plane
            </button>
            <button class="esri-button esri-button--secondary"
                    id="clear-plane-btn" type="button"
                    title="Clear slice plane">
                Clear slice
            </button>
            <input type="checkbox" id="tilt-enabled" checked/>
            <label for="tilt-enabled">Allow tilt on slice plane</label>
        </div>
        <a style="color: white; font-weight: bolder" href="../index">
            <div style="position: fixed; top: 215px; left: 8px; width:max-content;">
                <img src="../images/logo-dn.png"
                     style="width: 48px; border-radius: 50%"/>
            </div>
        </a>
    </div>
</div>
</body>
</html>
