<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tòa nhà hành chính Đà Nẵng</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="icon" href="images/logo-dn.png"/>
    <link rel="stylesheet" href="css/event.css">
</head>
<body>
<div class="container-fluid p-0">
    <div class="row w-100 m-0" style="background-color: #012535">
        <div class="col-sm-12 p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark-cover"
                 style="padding: 0.5rem 4rem">
                <a class="navbar-brand" href="/"><img src="images/logo-dn.png"
                                                      style="width: 48px; border-radius: 50%"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang chủ </a>
                        </li>
                        <li sec:authorize="hasAuthority('ACCOUNTS_VIEW')" class="nav-item">
                            <a class="nav-link"
                               href="/account"
                               tabindex="-1"
                               aria-disabled="true">Quản lý tài khoản
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="building-list">Toà nhà
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="map">Bản đồ 3D</a>
                        </li>

                        <li sec:authorize="hasAuthority('APPOINTMENT_VIEW')" class="nav-item">
                            <a class="nav-link"
                               href="appointment"
                               tabindex="-1"
                               aria-disabled="true">Lịch hẹn
                            </a>

                        <li class="nav-item">
                            <a class="nav-link nav-link-active" href="event" tabindex="-1"
                               aria-disabled="true">Sự kiện</a>
                        </li>
                    </ul>
                    <a sec:authorize="!isAuthenticated()" href="login"
                       class="btn my-button my-2 my-sm-0">
                        Đăng nhập
                    </a>
                    <div sec:authorize="isAuthenticated()">
                        Welcome <b><span sec:authentication="name">Username</span></b>
                        &nbsp;
                    </div>
                    <form sec:authorize="isAuthenticated()" class="form-signin" method="get"
                          action="/logout">
                        <button class="btn my-button my-2 my-sm-0" type="submit">Đăng xuất</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="row p-0 m-0">
        <div class="img-cover">
            <div class="filter-img-cover" style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 16px;
            ">
                <h1 style="color: #ffffff; font-size: 5vw; text-align: center" class="m-3">
                    SỰ KIỆN
                </h1>
            </div>
        </div>

        <div class="col-sm-12 p-5 pb-0 text-center" style="font-size: 1.2rem">
            <div class="row my-card align-items-center m-5">
                <div class="col-md-2">
                    <img src="images/event.png" style="width: 64px" class="m-5 bg-light"/>
                </div>
                <div class="col-md-10 text-left">
                    <h2>Phát sóng đêm nhạc Sắc màu Trưng Vương số thứ 3: “Đông rồi lại Xuân"</h2>
                    <p class="text-overflow">
                        Tối 12-12, Nhà hát Trưng Vương sẽ thực hiện, phát sóng trực tiếp chương
                        trình âm nhạc và cuộc sống "Sắc màu Trưng Vương" số thứ thứ 3 với chủ đề
                        “Đông rồi lại Xuân". Trải qua hai chủ đề “Thành phố trong tim” và “Tình
                        thu”, “Đông rồi lại Xuân” là số cuối cùng để khép lại một năm 2021 bằng
                        những bản tình ca bất hủ ở nền âm nhạc Việt Nam của những năm thập niên 90.
                    </p>
                </div>
            </div>
            <div class="row my-card align-items-center m-5">
                <div class="col-md-2">
                    <img src="images/event.png" style="width: 64px" class="m-5 bg-light"/>
                </div>
                <div class="col-md-10 text-left">
                    <h2>Toom Sara Fest – Chợ Tình: Tìm lại chính mình cùng tình yêu và âm nhạc</h2>
                    <p class="text-overflow">
                        Sở Du lịch vừa cho biết, từ ngày 14/02 đến hết ngày 16/02, tại thôn Phú Túc,
                        xã Hòa Phú, huyện Hòa Vang sẽ diễn ra chương trình "Toom Sara Fest – Chợ
                        Tình" với chủ đề "Tìm lại chính mình cùng tình yêu và âm nhạc". Chương trình
                        được thiết kế với hình thức của một hội chợ xuân theo văn hóa của đồng bào
                        Cơ Tu kết hợp các hoạt động vui chơi giải trí, lễ hội trong dịp Tết Nguyên
                        đán 2021.
                    </p>
                </div>
            </div>
            <div class="row my-card align-items-center m-5">
                <div class="col-md-2">
                    <img src="images/event.png" style="width: 64px" class="m-5 bg-light"/>
                </div>
                <div class="col-md-10 text-left">
                    <h2>Xúc động Chương trình nghệ thuật “Tự hào Đà Nẵng”</h2>
                    <p class="text-overflow">
                        Tối 3-10, Thành Đoàn Đà Nẵng và Hội Âm nhạc thành phố phối hợp tổ chức
                        chương trình nghệ thuật “Tự hào Đà Nẵng”. Chương trình thu hút đông đảo
                        người dân trên địa bàn thành phố đến xem.
                    </p>
                </div>
            </div>
            <div class="row my-card align-items-center m-5">
                <div class="col-md-2">
                    <img src="images/event.png" style="width: 64px" class="m-5 bg-light"/>
                </div>
                <div class="col-md-10 text-left">
                    <h2>Đêm thi chủ đề “Tình yêu”: Màn tranh tài hấp dẫn của hai đội pháo hoa đến từ
                        châu Âu</h2>
                    <p class="text-overflow">
                        Có mặt tại Đà Nẵng từ ngày 9-6 để chuẩn bị cho đêm thi thứ 3 Lễ hội pháo hoa
                        quốc tế Đà Nẵng DIFF 2019, diễn ra vào tối 15-6, hai đội pháo hoa Ý và Phần
                        Lan đã nhanh chóng bắt tay ngay vào triển khai các công đoạn lắp đặt kỹ
                        thuật kết hợp pháo hoa và âm nhạc theo ý tưởng bài thi của mình. Ghi nhận
                        tại bãi tập kết và bắn pháo vào trưa 12-6, các công đoạn lắp đặt pháo của
                        hai đội được thực hiện rất công phu, kỹ lưỡng, hứa hẹn đem đến những màn
                        trình diễn tuyệt vời nhất dành cho khán giả.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid m-0 d-flex flex-column align-items-center text-white p-0"
         style="background-color: #001119">
        <div class="row mt-4">
            <img src="images/logo-dn.png"
                 style="border-radius: 50%; width: 75px"/>
        </div>
        <div class="row m-4 w-75">
            <div class="col-lg-6">
                <h4>ĐÀ NẴNG</h4>
                <hr style="background-color: #ffffff"/>
                <p class="text-justify">
                    Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng
                    Duyên hải Nam Trung Bộ Việt Nam, là thành phố trung tâm và lớn
                    nhất khu vực miền Trung - Tây Nguyên.
                </p>
                <img src="images/facebook-logo.png"
                     style="width: 32px"
                     class="m-1"/>
                <img src="images/instagram-logo.png"
                     style="width: 32px"
                     class="m-1"/>
                <img src="images/youtube-logo.png"
                     style="width: 32px"
                     class="m-1"/>
                <img src="images/twitter-logo.png"
                     style="width: 32px"
                     class="m-1"/>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-4">
                        <h4>Bản đồ 3D</h4>
                        <hr style="background-color: #ffffff"/>
                        <p class="text-justify">
                            Cho phép xem bản đồ của tòa nhà hành chính Đà Nẵng và các công
                            trình liên quan khác.
                            <a href="map">Xem ngay</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Lịch hẹn</h4>
                        <hr style="background-color: #ffffff"/>
                        <p class="text-justify">
                            Đặt lịch hẹn làm việc tại tòa nhà hành chính Đà Nẵng.
                            <a href="appointment">Đặt lịch ngay</a>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Sự kiện</h4>
                        <hr style="background-color: #ffffff"/>
                        <p class="text-justify">
                            Xem danh sách các sự kiện diễn ra ở Đà Nẵng.
                            <a href="event">Xem ngay</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row w-100" style="background-color: #012535">
            <p class="w-100 text-center m-0 p-2">
                © Copyright by 4T team <br/>_ School Project _
            </p>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
